:root {
  --oui-font-family: 'Montserrat', sans-serif;
  --oui-font-size-base: 13px;

  /* colors */
  --oui-color-primary: 211 164 210;
  --oui-color-primary-light: 234 204 233;
  --oui-color-primary-darken: 183 133 180;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 197 145 197;
  --oui-color-link-light: 223 173 223;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 224 90 90;
  --oui-color-danger-light: 244 143 143;
  --oui-color-danger-darken: 201 63 63;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 80 191 144;
  --oui-color-success-light: 144 221 204;
  --oui-color-success-darken: 32 152 88;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 183 66;
  --oui-color-warning-light: 255 217 133;
  --oui-color-warning-darken: 229 140 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 49 39 64;
  --oui-color-fill-active: 56 48 74;

  --oui-color-base-1: 122 91 141;
  --oui-color-base-2: 107 80 125;
  --oui-color-base-3: 90 68 104;
  --oui-color-base-4: 75 58 89;
  --oui-color-base-5: 65 51 77;
  --oui-color-base-6: 56 44 66;
  --oui-color-base-7: 45 36 56;
  --oui-color-base-8: 36 29 46;
  --oui-color-base-9: 28 22 36;
  --oui-color-base-10: 20 15 26;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 224 90 90;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 80 191 144;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 173 123 173;
  --oui-gradient-primary-end: 211 164 210;

  --oui-gradient-secondary-start: 107 80 125;
  --oui-gradient-secondary-end: 197 145 197;

  --oui-gradient-success-start: 32 152 88;
  --oui-gradient-success-end: 80 191 144;

  --oui-gradient-danger-start: 201 63 63;
  --oui-gradient-danger-end: 224 90 90;

  --oui-gradient-brand-start: 234 204 233;
  --oui-gradient-brand-end: 197 145 197;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 229 140 0;
  --oui-gradient-warning-end: 245 183 66;

  --oui-gradient-neutral-start: 36 29 46;
  --oui-gradient-neutral-end: 49 39 64;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 13px !important;
}